---
import Test from "../test.svelte"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" typePost 2="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<ul>
			<li><a href="/recipies/bananaBread/">banana</a></li>
			<li><a href="/recipies/chocoChipCookies/">cookie</a></li>
			<li><a href="/recipies/dinnerRolls/">rolls</a></li>
			<li><a href="/recipies/ricePudding/">pudding</a></li>
		</ul>
	</body>
</html>
